# Python cache
__pycache__/
*.pyc

# Virtual environment
.venv/
env/
venv/

# IDE config
.idea/
.vscode/

# Model weights (optional if large)
*.pth

# Dataset folders
data/train/
data/val/
data/test/

# OS files
.DS_Store
Thumbs.db
